body {
  font-family: Arial, Helvetica, sans-serif;
}

input[type=text] 
{
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid grey;
  border-radius: 10px;
}

input[type=password] 
{
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid grey;
  border-radius: 10px;
}

button 
{
  background-color: #2196F3;
  color: white;
  padding: 14px 20px;
  margin: 8px auto;
  width: 400px;
  border-radius: 50px;
}

button:hover 
{
  opacity: 0.5;
}

.container 
{
  text-align: center;
  padding: 16px;
}

